<div id="wrapper" [ngClass]="{'toggled': isSidebarOpened}">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav" id="side_bar">
      <li class="sidebar-brand">
        <a href="/table" routerLink="/table" class="dashboard-link">
          <h1>Dashboard</h1>
        </a>
      </li>
      <hr>
      <li><a routerLink="/jiras" routerLinkActive="active-link">Jira</a></li>
      <li><a routerLink="/tests" routerLinkActive="active-link">Test Case</a></li>
      <li><a routerLink="/upload" routerLinkActive="active-link">Documentation</a></li>
      <li><a routerLink="/kpis" routerLinkActive="active-link">Performance indicator</a></li>
      <li><a (click)="onLogout()" >Logout</a></li>
      <li><a (click)="onChangePassword()" >Change Password</a></li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h1>
            <a href="#" class="gradient-menu" id="menu-toggle" (click)="toggleSidebar($event)"></a>
          </h1>
          <div class="table-container">
            <div class="table-header">
              <h2 class="title">Performance indicator</h2>
              <button class="btn btn-outline-primary btn-sm btn-add float-right" (click)="createKpi()">
                <i class="bi bi-plus-circle"></i> Add 
              </button>
            </div>
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Name</th>
                  <th scope="col">Formula</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let k of kpis">
                  <td>{{k.id}}</td>
                  <td>{{k.nom}}</td>
                  <td>{{k.formule}}</td>
                  <td class="action-cell">
                    <button (click)="updateKpi(k.id)" class="btn btn-outline-primary btn-sm">
                      <i class="bi bi-pencil-square"></i>
                    </button>
                    <button (click)="deleteKpi(k.id)" class="btn btn-outline-danger btn-sm">
                      <i class="bi bi-trash"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
